<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/stylesheet.css" />
    <title>Diagnostic Report</title>
</head>

<body class="bg-black">
    <header>
        <div class="container-fluid border-bottom bg-black">
            <div class="row">
                <nav class="navbar">
                    <div class="container-fluid">
                        <a class="navbar__brand navbar-brand" href="/">
                            <img src="/static/UpperLeft Logo.svg" alt="The DiagnoML logo" width="110px" height="45px">
                        </a>
                        <nav class="nav justify-content-end">
                            <a class="navbar__item nav-link" href="/">Home</a>
                            <a class="navbar__item nav-link" href="#">About</a>
                            <a class="navbar__item nav-link" href="#">Recent</a>
                            <a class="navbar__item nav-link" href="#">{{ session['email'] }}</a>
                            <a class="navbar__item nav-link" href="/login">Signout</a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container-fluid bg-black">
            <div class="row">
                <div class="col">
                    <img src="/static/images/{{ filename }}" class="rounded mx-auto d-block img-fluid"
                        alt="The medical Image uploaded" />
                    <p class="fs-3 fw-bold text-center text-white">
                        {{ result[0] }}
                    </p>
                    <p class="fs-3 fw-bold text-center text-white">
                        {{ result[1] }}
                    </p>
                </div>
                <div class="col text-white">
                    <div class="card bg-secondary mx-auto">
                        {% if result[2] == 1 %}
                        <h5 class="card-header">Reference Treatment for Pneumonia</h5>
                        <div class="card-body">
                            <p>
                                If pneumonia is caused by bacteria, the main treatment is antibiotics.
                            </p>
                            <ul>
                                <li>In milder cases, antibiotics can be taken by mouth.</li>
                                <li>Some cases of bacterial pneumonia will require hospitalization for treatment.</li>
                                <li>
                                    Young children and the elderly are more likely to need to go to the hospital to
                                    receive intravenous antibiotics, medical care and respiratory therapy
                                </li>
                            </ul>
                        </div>
                        <h5 class="card-header">Reference Treatment for Pneumonia</h5>
                        <div class="card-body">
                            <p>
                                If a virus is causing your pneumonia, antibiotics will not help.
                            </p>
                            <ul>
                                <li>
                                    Antiviral medication may be given accordingly.
                                </li>
                                <li>
                                    If the patient have an influenza virus, medications such as oseltamivir (Tamiflu),
                                    zanamivir (Relenza), orperamivir (Rapivab) may be prescribed. These drugs keep flu
                                    viruses from spreading in the body.
                                </li>
                                <li>
                                    If RSV is the cause of pneumonia, a medication such as ribavirin (Virazole) may be
                                    prescribed.
                                </li>
                            </ul>
                            <p> However, most viral pneumonias do not have specific treatment. </p>
                        </div>
                        {% elif result[2] == 2 %}
                        <h5 class="card-header">Reference Treatment for SNV</h5>
                        <div class="card-body">
                            <p>
                                CNV (Choroidal neovascularization) can be treated with several methods:
                            </p>
                            <ul>
                                <li>
                                    The primary treatment for CNV is injection of medications into the eye vitreous
                                    cavity. These medications are called anti-VEGF (Vascular Endothelial Growth Factor),
                                    because they block the activity of a substance in the body called VEGF, shown to be
                                    the common factor contributing to CNV.
                                </li>
                                <li>
                                    CNV may also be treated with photodynamic therapy (PDT) coupled with a
                                    photosensitive drug such as verteporfin(Visudyne). The drug is given intravenously.
                                    It is then activated in the eye by a laser light. The drug destroys the new blood
                                    vessels, and prevents any new vessels forming by forming thrombi.
                                </li>
                                <li>
                                    Laser photocoagulation has also been used for the treatment of CNV related to
                                    myopicmacular degeneration.
                                </li>
                            </ul>
                        </div>
                        {% elif result[2] == 3 %}
                        <h5 class="card-header">Reference Treatment for DME</h5>
                        <div class="card-body">
                            <p>
                                Diabetic Macular Edema (DME) is an eye problem related to diabetes. There are several
                                treatments available for DME. Some of them include:
                            </p>
                            <ul>
                                <li>
                                    Anti-VEGF injections into the eye which stop the activity of vascular endothelial
                                    growth factor (VEGF) to promote the growth of blood vessels
                                </li>
                                <li>
                                    Steroid implants
                                </li>
                                <li>
                                    Laser treatments such as focal laser treatment for focal DME and grid laser
                                    treatment for diffuse DME
                                </li>
                                <li>
                                    Medications such as Avastin (bevacizumab), Lucentis (ranibizumab), and Ozurdex
                                    (dexamethasone) that are injected into your eyes by an ophthalmologist
                                </li>
                            </ul>
                            <p>
                                It is important to note that doctors may also tackle what is causing DME, like high
                                blood sugar or high blood pressure
                            </p>
                        </div>
                        {% elif result[2] == 4 %}
                        <h5 class="card-header">Reference Treatment for DRUSEN</h5>
                        <div class="card-body">
                            <p>
                                Drusen are yellow deposits under the retina. There is currently no treatment for drusen.
                                However, certain steps may be taken to prevent additional drusen from forming and to
                                slow the progression of Age-related Macular Degeneration (AMD), which can be associated
                                with soft drusen. Some of these steps include:
                            </p>
                            <ul>
                                <li>
                                    Taking certain vitamins and minerals that may help reduce drusen accumulation
                                </li>
                                <li>
                                    Following a healthy diet with antioxidant vitamins found in fruits and vegetables
                                    that contribute to eye health
                                </li>
                                <li>
                                    Not smoking or quitting smoking if you do smoke
                                </li>
                                <li>
                                    Managing other medical conditions that may affect eye health
                                </li>
                                <p>
                                    In rare cases where choroidal neovascular membranes (new blood vessels growing under
                                    the retina) develop, treatment with Anti-VEGF drugs may be appropriate to prevent
                                    the development of abnormal or leaking blood vessels in the retina
                                </p>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container-fluid fixed-bottom border-top bg-black p-3">
            <div class="row">
                <div class="left col-3">
                    <a class="footer__item">Made by Yifan Zhong & Tianying Zhu</a>
                </div>
                <div class="right col-9 row">
                    <div class="footer__column col-3 nav flex-column">
                        <a class="footer__item nav-link py-1" href="#">About us</a>
                        <a class="footer__item nav-link py-1" href="#">Teams</a>
                    </div>
                    <div class="footer__column col-3 nav flex-column">
                        <a class="footer__item nav-link py-1" href="#">Contact</a>
                        <a class="footer__item nav-link py-1" href="#">Help</a>
                    </div>
                    <div class="footer__column col-3 nav flex-column">
                        <a class="footer__item nav-link py-1" href="#">Terms of Service</a>
                        <a class="footer__item nav-link py-1" href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>